<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
    .box{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="box">
        <span class="item">【这是一个sapn】</span>
        <span class="item">【这是一个sapn】</span>
    </div>
</body>
</html>