@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>API接口测试</title>
    <script>
        const serverPath = 'http://localhost:59996/';
        const access_token = '';

        //模拟Get请求
        function AjaxRequestGet(uri) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function () {
                    console.log('Ajax请求失败！');
                }
            });
        }

        //模拟Post请求
        function AjaxRequestPost(uri, data) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'POST',
                //contentType: 'application/json',//此句话需要配合 json序列化方法使用
                dataType: 'json',
                data: data,
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log('Ajax请求失败！');
                    console.log(response);
                }
            });
        }

        $(document).ready(function () {
            $('#btnRecordGet').click(function (e) {
                AjaxRequestGet('api/record/get?access_token=11&type=1');
            });
            $('#btnRecordGetPage').click(function (e) {
                AjaxRequestGet('api/record/get?access_token=11&type=1&pages=1&limit=10');
            });
            $('#btnRecordGetPageSort').click(function (e) {
                AjaxRequestGet('api/record/get?access_token=11&type=1&page=1&limit=10&sortDirection=ASC&sortField=ApplyTime');
            });
        });

    </script>
</head>
<body>
    <div>
        <h1>API 接口测试：</h1>
        <br />
        <div style="margin-left:200px;">
            <h3>记录查询接口测试：</h3>
            <h4>普通查询</h4>
            <input type="button" value="api/record/get" id="btnRecordGet" />
            <br />
            <br />
            <h4>分页查询</h4>
            <input type="button" value="api/record/get" id="btnRecordGetPage" />
            <br />
            <br />
            <h4>分页排序查询</h4>
            <input type="button" value="api/record/get" id="btnRecordGetPageSort" />
            <br />
            <br />
        </div>
    </div>
</body>
</html>