@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>API接口测试</title>
    <script>
        const serverPath = 'http://localhost:59996/';
        const access_token = '';

        //模拟Get请求
        function AjaxRequestGet(uri) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function () {
                    console.log('Ajax请求失败！');
                }
            });
        }

        //模拟Post请求
        function AjaxRequestPost(uri, data) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'POST',
                //contentType: 'application/json',//此句话需要配合 json序列化方法使用
                dataType: 'json',
                data: data,
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log('Ajax请求失败！');
                    console.log(response);
                }
            });
        }

        $(document).ready(function () {
            $('#btnLogin').click(function (e) {
                var data = { "id": "1214001", "password": "214001", "roleID": "1" }
                AjaxRequestPost('api/auth/login', data);
            });

            $('#btnGetuserinfofromcache').click(function (e) {
                AjaxRequestGet('api/auth/getuserinfofromcache?access_token=11');
            });

            $('#btnLogout').click(function (e) {
                AjaxRequestGet('api/auth/logout?access_token=11');
            });
        });

    </script>
</head>
<body>
    <div>
        <h1>API 接口测试：</h1>
        <br />
        <div style="margin-left:200px;">
            <h3>登录接口测试：</h3>
            <input type="button" value="api/auth/login" id="btnLogin" />
            <br />
            <br />
            <input type="button" value="api/auth/getuserinfofromcache" id="btnGetuserinfofromcache" />
            <br />
            <br />
            <h3>注销接口测试：</h3>
            <input type="button" value="api/auth/logout" id="btnLogout" />
            <br />
            <br />
        </div>
    </div>
</body>
</html>
