@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>API接口测试</title>
    <script>
        const serverPath = 'http://localhost:59996/';
        const access_token = '';

        //模拟Get请求
        function AjaxRequestGet(uri) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function () {
                    console.log('Ajax请求失败！');
                }
            });
        }

        //模拟Post请求
        function AjaxRequestPost(uri, data) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'POST',
                //contentType: 'application/json',//此句话需要配合 json序列化方法使用
                dataType: 'json',
                data: data,
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log('Ajax请求失败！');
                    console.log(response);
                }
            });
        }

        $(document).ready(function () {
            //校团委老师账号管理：
            $('#btnAccountTeacher').click(function (e) {
                AjaxRequestGet('api/account/teacher?access_token=11&page=1&size=10');
            });

            $('#btnTeacherAdd').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '1214001', 'Name': '王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/addteacher', data);
            });

            $('#btnTeacherDelete').click(function (e) {
                AjaxRequestGet('api/account/delteacher?access_token=11&accountID=1214001');
            });

            $('#btnTeacherModify').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '1214001', 'Name': '修改过后的数据-王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/modteacher', data);
            });

            $('#btnTeacherResetPwd').click(function (e) {
                AjaxRequestGet('api/account/resetteacher?access_token=11&accountID=1214001');
            });

            //学院账号、助理账号管理
            $('#btnAccountAdmin').click(function (e) {
                AjaxRequestGet('api/account/admin?access_token=11&page=1&size=10');
            });

            $('#btnAdminAdd').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '0121403490106', 'Name': '王健铭', 'RoleID':'2','OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/addadmin', data);
            });

            $('#btnAdminDelete').click(function (e) {
                AjaxRequestGet('api/account/deladmin?access_token=11&accountID=0121403490106');
            });

            $('#btnAdminModify').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '0121403490106', 'Name': '修改过后的数据-王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/modteacher', data);
            });

            $('#btnAdminResetPwd').click(function (e) {
                AjaxRequestGet('api/account/resetadmin?access_token=11&accountID=0121403490106');
            });
        });

    </script>
</head>
<body>
    <div>
        <h1>API 接口测试：</h1>
        <br />
        <div style="margin-left:200px;">
            <h3>帐户管理接口测试：</h3>
            <h4>校团委账号管理接口</h4>
            <input type="button" value="api/account/teacher" id="btnAccountTeacher" />
            <br />
            <br />
            <input type="button" value="api/account/addteacher" id="btnTeacherAdd" />
            <br />
            <br />
            <input type="button" value="api/account/delteacher" id="btnTeacherDelete" />
            <br />
            <br />
            <input type="button" value="api/account/modteacher" id="btnTeacherModify" />
            <br />
            <br />
            <input type="button" value="api/account/resetteacher" id="btnTeacherResetPwd" />
            <br />
            <br />
            <h4>助理账号、学院账号管理</h4>
            <input type="button" value="api/account/admin" id="btnAccountAdmin" />
            <br />
            <br />
            <input type="button" value="api/account/addadmin" id="btnAdminAdd" />
            <br />
            <br />
            <input type="button" value="api/account/deladmin" id="btnAdminDelete" />
            <br />
            <br />
            <input type="button" value="api/account/modadmin" id="btnAdminModify" />
            <br />
            <br />
            <input type="button" value="api/account/resetadmin" id="btnAdminResetPwd" />
            <br />
            <br />
        </div>
    </div>
</body>
</html>
