@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>API接口测试</title>
    <script>
        const serverPath = 'http://localhost:59996/';
        const access_token = '';

        //模拟Get请求
        function AjaxRequestGet(uri) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function () {
                    console.log('Ajax请求失败！');
                }
            });
        }

        //模拟Post请求
        function AjaxRequestPost(uri, data) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'POST',
                //contentType: 'application/json',//此句话需要配合 json序列化方法使用
                dataType: 'json',
                data: data,
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log('Ajax请求失败！');
                    console.log(response);
                }
            });
        }

        $(document).ready(function () {
            //校团委老师账号管理：
            $('#btnAccountTeacher').click(function (e) {
                AjaxRequestGet('api/account/teacher?access_token=11&page=1&size=10');
            });

            $('#btnTeacherAdd').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '1214001', 'AccountName': '王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/addteacher', data);
            });

            $('#btnTeacherDelete').click(function (e) {
                AjaxRequestGet('api/account/delteacher?access_token=11&accountID=1214001');
            });

            $('#btnTeacherModify').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '1214001', 'AccountName': '修改过后的数据-王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/modteacher', data);
            });

            $('#btnTeacherResetPwd').click(function (e) {
                AjaxRequestGet('api/account/resetteacher?access_token=11&accountID=1214001');
            });

            //学院账号、助理账号管理
            $('#btnAccountAdmin').click(function (e) {
                AjaxRequestGet('api/account/admin?access_token=11&page=1&size=10');
            });

            $('#btnAdminAdd').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '0121403490106', 'AccountName': '王健铭', 'RoleID': '2', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/addadmin', data);
            });

            $('#btnAdminDelete').click(function (e) {
                AjaxRequestGet('api/account/deladmin?access_token=11&accountID=0121403490106');
            });

            $('#btnAdminModify').click(function (e) {
                var data = { 'access_token': '11', 'AccountID': '0121403490106', 'AccountName': '修改过后的数据-王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/modteacher', data);
            });

            $('#btnAdminResetPwd').click(function (e) {
                AjaxRequestGet('api/account/resetadmin?access_token=11&accountID=0121403490106');
            });

            $('#btnAdminBlockState').click(function (e) {
                AjaxRequestGet('api/account/blockstate?access_token=11&accountID=0121403490106');
            });

            //修改密码
            $('#btnPasswordModfy').click(function (e) {
                var data = { 'access_token': '11', 'ID': '0121403490106', 'OldPwd': '40010', 'NewPwd': '400220' }
                AjaxRequestPost('api/password/modify', data);
            });

            //API 接口管理
            $('#btnRoleGetMenu').click(function (e) {
                AjaxRequestGet('api/role/getmenu?access_token=11');
            });

            $('#btnRoleAddMenu').click(function (e) {
                var data = { 'access_token': '11', 'Name': '新增荣誉称号', 'Url': 'api/honor/add' }
                AjaxRequestPost('api/role/addmenu', data);
            });

            $('#btnRoleModifyMenu').click(function (e) {
                var data = { 'access_token': '11', 'ID': 'f2929712-2820-4ef1-94cc-0f87813338d8', 'Name': '新增荣誉称号', 'Url': 'api/honor/add' }
                AjaxRequestPost('api/role/modmenu', data);
            });

            $('#btnRoleDeleteMenu').click(function (e) {
                AjaxRequestGet('api/role/delmenu?access_token=11&ID=f2929712-2820-4ef1-94cc-0f87813338d8');
            });

            //角色管理
            $('#btnRoleGetRole').click(function (e) {
                AjaxRequestGet('api/role/getrole?access_token=11');
            });

            //角色功能管理
            $('#btnRoleGet').click(function (e) {
                AjaxRequestGet('api/role/get?access_token=11');
            });

            //个人信息修改
            $('#btnAccountGetInfo').click(function (e) {
                AjaxRequestGet('api/account/getinfo?access_token=11');
            });
            $('#btnAccountChangeInfo').click(function (e) {
                var data = { 'access_token': '11', 'ID': '1214001', 'Name': '测试修改用户名2', 'Tel': '15307179930' }
                AjaxRequestPost('api/account/changeinfo', data);
            });
        });

    </script>
</head>
<body>
    <div>
        <h1>API 接口测试：</h1>
        <br />
        <div style="margin-left:200px;">
            <h3>帐户管理接口测试：</h3>
            <h4>校团委账号管理接口</h4>
            <input type="button" value="api/account/teacher" id="btnAccountTeacher" />
            <br />
            <br />
            <input type="button" value="api/account/addteacher" id="btnTeacherAdd" />
            <br />
            <br />
            <input type="button" value="api/account/delteacher" id="btnTeacherDelete" />
            <br />
            <br />
            <input type="button" value="api/account/modteacher" id="btnTeacherModify" />
            <br />
            <br />
            <input type="button" value="api/account/resetteacher" id="btnTeacherResetPwd" />
            <br />
            <br />
            <h4>助理账号、学院账号管理</h4>
            <input type="button" value="api/account/admin" id="btnAccountAdmin" />
            <br />
            <br />
            <input type="button" value="api/account/addadmin" id="btnAdminAdd" />
            <br />
            <br />
            <input type="button" value="api/account/deladmin" id="btnAdminDelete" />
            <br />
            <br />
            <input type="button" value="api/account/modadmin" id="btnAdminModify" />
            <br />
            <br />
            <input type="button" value="api/account/resetadmin" id="btnAdminResetPwd" />
            <br />
            <br />
            <input type="button" value="api/account/blockstate" id="btnAdminBlockState" />
            <br />
            <br />
            <h3>密码管理接口测试：</h3>
            <h4>密码修改</h4>
            <input type="button" value="api/password/modify" id="btnPasswordModfy" />
            <br />
            <br />
            <h3>角色功能管理接口测试：</h3>
            <h4>API接口管理</h4>
            <input type="button" value="api/role/getmenu" id="btnRoleGetMenu" />
            <br />
            <br />
            <input type="button" value="api/role/addmenu" id="btnRoleAddMenu" />
            <br />
            <br />
            <input type="button" value="api/role/modmenu" id="btnRoleModifyMenu" />
            <br />
            <br />
            <input type="button" value="api/role/delmenu" id="btnRoleDeleteMenu" />
            <br />
            <br />
            <h4>角色管理</h4>
            <input type="button" value="api/role/getrole" id="btnRoleGetRole" />
            <br />
            <br />
            <h4>角色功能管理</h4>
            <input type="button" value="api/role/get" id="btnRoleGet" />
            <br />
            <br />
            <h3>帐户信息修改接口：</h3>
            <h4>获取帐户信息</h4>
            <input type="button" value="api/account/getinfo" id="btnAccountGetInfo" />
            <br />
            <br />
            <h4>修改个人信息</h4>
            <input type="button" value="api/account/changeinfo" id="btnAccountChangeInfo" />
            <br />
            <br />
        </div>
    </div>
</body>
</html>
