@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <title>API接口测试</title>
    <script>
        const serverPath = 'http://localhost:59996/';
        const access_token = '';

        //模拟Get请求
        function AjaxRequestGet(uri) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function () {
                    console.log('Ajax请求失败！');
                }
            });
        }

        //模拟Post请求
        function AjaxRequestPost(uri, data) {
            var server = serverPath;
            var url = server + uri;
            $.ajax({
                type: 'POST',
                //contentType: 'application/json',//此句话需要配合 json序列化方法使用
                dataType: 'json',
                data: data,
                url: url,
                success: function (response) {
                    console.log(response);
                },
                error: function (response) {
                    console.log('Ajax请求失败！');
                    console.log(response);
                }
            });
        }

        $(document).ready(function () {
            $('#btnRecordGet').click(function (e) {
                AjaxRequestGet('api/record/get?access_token=11&type=0');
                AjaxRequestGet('api/record/get?access_token=11&type=1');
                AjaxRequestGet('api/record/get?access_token=11&type=2');
            });
            $('#btnRecordGetPage').click(function (e) {
                AjaxRequestGet('api/record/get?access_token=11&type=0&pages=1&limit=10');
                AjaxRequestGet('api/record/get?access_token=11&type=1&pages=1&limit=10');
                AjaxRequestGet('api/record/get?access_token=11&type=2&pages=1&limit=10');
            });
            $('#btnRecordGetPageSort').click(function (e) {
                AjaxRequestGet('api/record/get?access_token=11&type=0&page=1&limit=10&sortDirection=ASC&sortField=ApplyTime');
                AjaxRequestGet('api/record/get?access_token=11&type=1&page=1&limit=10&sortDirection=ASC&sortField=ApplyTime');
                AjaxRequestGet('api/record/get?access_token=11&type=2&page=1&limit=10&sortDirection=ASC&sortField=ApplyTime');
            });

            $('#btnRecordGetTeamInfo').click(function (e) {
                AjaxRequestGet('api/record/teaminfo?access_token=11&AwdRecordID=245543ed-6a6d-4678-8a55-296886fb4d7d');
            });

            $('#btnHnrRecordDelete').click(function (e) {
                AjaxRequestGet('api/record/delete?access_token=11&HnrRecordID=76aa710d-ea08-4ba1-869b-42b331f848ba');
            });
            $('#btnAwdRecordDelete').click(function (e) {
                AjaxRequestGet('api/record/delete?access_token=11&AwdRecordID=3c3c7844-b2b8-4d30-875f-0c54db413993');
            });
            $('#btnHnrRecordForceDelete').click(function (e) {
                AjaxRequestGet('api/record/forcedelete?access_token=11&HnrRecordID=76aa710d-ea08-4ba1-869b-42b331f848ba');
            });
            $('#btnAwdRecordForceDelete').click(function (e) {
                AjaxRequestGet('api/record/forcedelete?access_token=11&AwdRecordID=3c3c7844-b2b8-4d30-875f-0c54db413993');
            });

            $('#btnHnrRecordModify').click(function (e) {
                var data = { 'access_token': '11', 'HnrRecordID': '79162015-4f42-4cc0-995c-a1bdd62d94d9', 'HonorID': '82fee293-1fd6-4c85-a058-e4365c26424a', 'HnrAnnual': '2017-2018', 'HnrTime': '2017-05', 'AwdeeID': '1', 'AwdeeName': '王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Branch': '信管1401团支部', 'FileUrl': '666666' }
                AjaxRequestPost('api/record/hnrmodify', data);
            });
            //接口相关参数说明：
            //HonorID 荣誉类型ID   Annual 获奖年度（格式为2016-2017）  HnrTime获奖时间
            //AwdeeID 获奖人ID   AwdeeName 获奖人姓名   OrgID 获奖人所属组织ID   Branch 获奖人所属团支部
            //FileUrl 上传文件名（若未上传文件，则赋值为-1）



            $('#btnAwdRecordModify').click(function (e) {
                var data = { 'access_token': '11', 'AwdRecordID': '8f69266f-522e-41e4-b04b-56ec2efb706a', 'AwardID': '0316b87d-bdc2-4079-9b42-e8150add0ba7', 'AwdYear': '2017', 'AwdTime': '2017-07', 'AwdTerm': '', 'AwdProName': '略略略', 'AwdOrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Teacher': ['王健铭', '任天宇'], 'IsTeam': '1', 'Members': [{ 'AwdeeID': '1', 'AwdeeName': '王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Branch': '信管1401团支部' }, { 'AwdeeID': '2', 'AwdeeName': '王健铭', 'OrgID': '26c822fb-acb1-4e7a-a552-f514687f54ab', 'Branch': '信管1401团支部' }], 'FileUrl': '9999999' }
                AjaxRequestPost('api/record/awdmodify', data);
            });
            //接口相关参数说明：
            //AwardID 荣誉类型ID   Year 获奖年份（格式为2017）  AwdTime获奖时间
            //Term 届数   ProjectName 项目名称   OrgID 获奖人所属组织ID   Teacher 指导老师
            //IsTeam  是否为团队 1代表团队获奖 0代表非团队获奖   Members 成员列表  AwdeeID 成员ID（一般为学号）
            //AwdeeName 成员姓名  OrgID  成员所属部门ID  Branch 所属团支部
            //FileUrl 上传文件名（若未上传文件，则赋值为-1）



            $('#btnHnrRecordPass').click(function (e) {
                AjaxRequestGet('api/record/auditpass?access_token=11&HnrRecordID=81e1565d-96dd-4ec7-ae6a-7d7f3e279bbf');
            });
            $('#btnAwdRecordPass').click(function (e) {
                AjaxRequestGet('api/record/auditpass?access_token=11&AwdRecordID=7e12cbd4-0c6a-49a7-9d5e-ccaa05d75a73');
            });
            $('#btnHnrRecordReject').click(function (e) {
                AjaxRequestGet('api/record/auditreject?access_token=11&HnrRecordID=cc44218b-a6d9-4d82-bc05-b8dfeab6c542&RejectReason=232323232323');
            });
            $('#btnAwdRecordReject').click(function (e) {
                AjaxRequestGet('api/record/auditreject?access_token=11&AwdRecordID=978ed6ad-608e-4ea6-bee2-6f30707965c8&RejectReason=232323232323');
            });



            $('#btnMulticonditionquery').click(function (e) {
                var data = { 'access_token': '11', 'type': '0', 'page': '1', 'limit': '10', 'sortDirection': 'ASC', 'sortField': 'ApplyTime', 'conditions': [{ 'fieldName': 'AwdeeOrgName', 'fieldValues': [{ 'item': '管理' }] }, { 'fieldName': 'AwdeeName', 'fieldValues': [{ 'item': '健铭' }] }] };
                AjaxRequestPost('api/record/multiconditionquery', data);
            });
        });

    </script>
</head>
<body>
    <div>
        <h1>API 接口测试：</h1>
        <br />
        <div style="margin-left:200px;">
            <h3>填报记录管理接口：</h3>
            <h4>普通查询</h4>
            <input type="button" value="api/record/get" id="btnRecordGet" />
            <br />
            <br />
            <h4>分页查询</h4>
            <input type="button" value="api/record/get" id="btnRecordGetPage" />
            <br />
            <br />
            <h4>分页排序查询</h4>
            <input type="button" value="api/record/get" id="btnRecordGetPageSort" />
            <br />
            <br />
            <h4>竞赛团队信息查询</h4>
            <input type="button" value="api/record/teaminfo" id="btnRecordGetTeamInfo" />
            <br />
            <br />

            <hr />

            <h4>删除记录接口</h4>
            <input type="button" value="api/record/delete" id="btnHnrRecordDelete" />
            <br />
            <br />
            <input type="button" value="api/record/delete" id="btnAwdRecordDelete" />
            <br />
            <br />
            <h4>强制删除接口</h4>
            <input type="button" value="api/record/forcedelete" id="btnHnrRecordForceDelete" />
            <br />
            <br />
            <input type="button" value="api/record/forcedelete" id="btnAwdRecordForceDelete" />
            <br />
            <br />

            <hr />

            <h4>修改荣誉奖项记录接口</h4>
            <input type="button" value="api/record/hnrmodify" id="btnHnrRecordModify" />
            <br />
            <br />
            <h4>修改竞赛奖项记录接口</h4>
            <input type="button" value="api/record/awdmodify" id="btnAwdRecordModify" />
            <br />
            <br />

            <hr />

            <h4>审核通过荣誉奖项记录接口</h4>
            <input type="button" value="api/record/auditpass" id="btnHnrRecordPass" />
            <br />
            <br />
            <h4>审核通过竞赛奖项记录接口</h4>
            <input type="button" value="api/record/auditpass" id="btnAwdRecordPass" />
            <br />
            <br />
            <h4>驳回荣誉奖项记录接口</h4>
            <input type="button" value="api/record/auditreject" id="btnHnrRecordReject" />
            <br />
            <br />
            <h4>驳回竞赛奖项记录接口</h4>
            <input type="button" value="api/record/auditreject" id="btnAwdRecordReject" />
            <br />
            <br />

            <hr />
            <h4>多条件查询接口</h4>
            <input type="button" value="api/record/multiconditionquery" id="btnMulticonditionquery" />
            <br />
            <br />
        </div>
    </div>
</body>
</html>